<h1><%= @page_title %></h1>
<p>
Drew Altizer Photography is a full-service agency covering charity, public relations and private events. Our client list includes San Francisco's most recognizable and influential organizations and individuals. In addition to photography, our services include distribution to local, regional and national social press as well as online distribution to an ever growing number of outlets. To book a photographer, please contact booking@drewaltizer.com.
</p>