<h1 id="eventtitle">FAQS</h1>
<div style="margin-right:12px;padding-bottom:10px">
	<div id="q1" style="font-weight:bold;">&#8250;&nbsp;<a href="javascript:;" onclick="showhide(1,1);">How can I use a photo that I order from drewaltizer.com?</a></div>
  	<div id="qa1" style="font-weight:bold;display:none">&#710;&nbsp;<a href="javascript:;" onclick="showhide(0,1);">How can I use a photo that I order from drewaltizer.com?</a></div>
  	<div id="a1" style="background-color:#CCFFFF;border: 1px solid #CCCCCC;padding:10px;margin-bottom:5px;display:none">As a rule, the photographs we distribute to individuals through web sales are for personal use only.  That means, they can not be reproduced, and are intended for personal sharing and enjoyment.   We plan to offer personal downloads in the future for your online personal use including Social Networking and dating websites.</div>
	<div id="q2" style="font-weight:bold;">&#8250;&nbsp;<a href="javascript:;" onclick="showhide(1,2);">What can I do if I really want to have a photo of myself removed from your website?</a></div>
  	<div id="qa2" style="font-weight:bold;display:none">&#710;&nbsp;<a href="javascript:;" onclick="showhide(0,2);">What can I do if I really want to have a photo of myself removed from your website?</a></div>
  	<div id="a2" style="background-color:#CCFFFF;border: 1px solid #CCCCCC;padding:10px;margin-bottom:5px;display:none">That's easy, just get in touch by email or phone.   We try to make selections that are fun or even a little silly, but never want to cause anyone embarrassment or harm.  If you feel we made an error, please let us know.</div>
	<div id="q3" style="font-weight:bold;">&#8250;&nbsp;<a href="javascript:;" onclick="showhide(1,3);">Can I get a high-resolution digital copy of an image for commercial use?</a></div>
  	<div id="qa3" style="font-weight:bold;display:none">&#710;&nbsp;<a href="javascript:;" onclick="showhide(0,3);">Can I get a high-resolution digital copy of an image for commercial use?</a></div>
  	<div id="a3" style="background-color:#CCFFFF;border: 1px solid #CCCCCC;padding:10px;margin-bottom:5px;display:none">The answer is...probably.  Commercial use is certainly possible, but please call to discuss the privacy and rights issues surrounding that kind of use.</div>
	<div id="q4" style="font-weight:bold;">&#8250;&nbsp;<a href="javascript:;" onclick="showhide(1,4);">What is your return or refund policy for online print orders?</a></div>
  	<div id="qa4" style="font-weight:bold;display:none">&#710;&nbsp;<a href="javascript:;" onclick="showhide(0,4);">What is your return or refund policy for online print orders?</a></div>
  	<div id="a4" style="background-color:#CCFFFF;border: 1px solid #CCCCCC;padding:10px;margin-bottom:5px;display:none">Our top priority is making sure our clients are satisfied with their purchases and experience.  We will replace or refund any print purchase that is erroneous, of substandard quality or otherwise just not right.
		There are a few exceptions for customer options over which we have no control including order errors due to customer's  typographical errors, or optional customization such as finish, borders, size and cropping.  We will be try to accommodate your issue regardless of the type, and would always like to hear your feedback in order to avoid future issues.   To request a refund or reprint, please email weborders@drewaltizer.com  within 30 days of  the original order date.   Include your order number, order date, your name, your address and a description of the issue you are having.  Please do not include any credit card or banking information.   We will contact you with further instructions for returning the erroneous prints.  We will not refund shipping for orders unless the entire order is returned.
	</div>
	<div id="q5" style="font-weight:bold;">&#8250;&nbsp;<a href="javascript:;" onclick="showhide(1,5);">How long will it take for my web order to ship?</a></div>
  	<div id="qa5" style="font-weight:bold;display:none">&#710;&nbsp;<a href="javascript:;" onclick="showhide(0,5);">How long will it take for my web order to ship?</a></div>
  	<div id="a5" style="background-color:#CCFFFF;border: 1px solid #CCCCCC;padding:10px;margin-bottom:5px;display:none">A typical order ships within a day or two from our photo lab partner in Santa Cruz.  Very large orders, or orders with unusual sizes may take a day or two longer.  If your order has not arrived within 10  days, please contact us to track the order.</div>
	<div id="q6" style="font-weight:bold;">&#8250;&nbsp;<a href="javascript:;" onclick="showhide(1,6);">How quickly are events uploaded to the site after an event?</a></div>
  	<div id="qa6" style="font-weight:bold;display:none">&#710;&nbsp;<a href="javascript:;" onclick="showhide(0,6);">How quickly are events uploaded to the site after an event?</a></div>
  	<div id="a6" style="background-color:#CCFFFF;border: 1px solid #CCCCCC;padding:10px;margin-bottom:5px;display:none">We try to upload photos within 24-48 hours of an event.  During very busy periods, uploads may be delayed a bit, but as the site matures, that should become more and more rare.</div>
	<div id="q7" style="font-weight:bold;">&#8250;&nbsp;<a href="javascript:;" onclick="showhide(1,7);">Who prints the photos that I order online?</a></div>
  	<div id="qa7" style="font-weight:bold;display:none">&#710;&nbsp;<a href="javascript:;" onclick="showhide(0,7);">Who prints the photos that I order online?</a></div>
	<div id="a7" style="background-color:#CCFFFF;border: 1px solid #CCCCCC;padding:10px;margin-bottom:5px;display:none">As of early 2008, we have partnered with Bay Photo Labs in Santa Cruz to fulfill our print orders from the new site.  When migrating to this new website, the goal was to use a local lab with the best possible quality.  As a result, our (your) photos get a little extra attention, are printed on wonderful paper and still ship very quickly.</div>
</div>
<script type="text/javascript">
	function showhide(s,i){
		target = document.getElementById("a"+i);
		nodeplus = document.getElementById("q"+i);
		nodeminus = document.getElementById("qa"+i);
		if(s){
			target.style.display = 'block';
			nodeplus.style.display = 'none';
			nodeminus.style.display = 'block';
		}else{
			target.style.display = 'none';
			nodeplus.style.display = 'block';
			nodeminus.style.display = 'none';
		}
	}
</script>
