<h1><%= @page_title %></h1>
<% @events.each do |event| %>
	<div class="thumbnails">
		<%= link_to image_tag("/photos/thumb1/#{event.photos.first.id}"), :controller=>"events", :action=>"show", :id=>event %>
		<p><%= event.name %></p>
	</div>
<% end %>